<div class="background">
<div class="form-card">
<h1 style="text-align: center;" *ngIf="config">{{ config.title }}</h1>

<form *ngIf="form" [formGroup]="form" (ngSubmit)="submit()">

  <div *ngFor="let section of config.sections">

    <h2>{{ section.title }}</h2>

    <div *ngFor="let field of section.fields">

      <label>{{ field.label }}</label>



      <!-- Text, Email, Number -->
       <div *ngIf="field.type === 'mobile'" class="mobile-input">
        <span class="country-code">+91</span>
        <input type="text"
        [placeholder]="field.placeholder"
        [formControlName]="field.name"
        maxlength="10"
        inputmode="numeric"
        (input)="allowIndianNum($event, field.name)">
       </div>

        <input
        *ngIf="field.type !== 'textarea' && field.name !== 'mobile'"
        [type]="field.type"
        [placeholder]="field.placeholder"
        [formControlName]="field.name">

      <!-- Textarea -->
      <textarea
        *ngIf="field.type === 'textarea'"
        [placeholder]="field.placeholder"
        [formControlName]="field.name">
      </textarea>


      <!-- Required Error -->
      <div class="error"
        *ngIf="form.get(field.name)?.touched && form.get(field.name)?.hasError('required')">
        {{ field.validation.requiredMessage || field.label + ' is required' }}
      </div>


      <!-- Min Length Error -->
      <div class="error"
        *ngIf="form.get(field.name)?.touched && form.get(field.name)?.hasError('minlength')">
        {{ field.validation.minLengthMessage || 
        'Minimum ' + field.validation.minLength + ' characters required' }}
      </div>


      <!-- Max Length Error -->
      <div class="error"
        *ngIf="form.get(field.name)?.touched && form.get(field.name)?.hasError('maxlength')">
        {{ field.validation.maxLengthMessage ||
        'Maximum ' + field.validation.maxLength + ' characters allowed' }}
      </div>


      <!-- Min Value Error -->
      <div class="error"
        *ngIf="form.get(field.name)?.touched && form.get(field.name)?.hasError('min')">
        {{ field.validation.minMessage }}
      </div>


      <!-- Max Value Error -->
      <div class="error"
        *ngIf="form.get(field.name)?.touched && form.get(field.name)?.hasError('max')">
        {{ field.validation.maxMessage }}
      </div>


      <!-- Email Error -->
      <div class="error"
        *ngIf="form.get(field.name)?.touched && form.get(field.name)?.hasError('email')">
        {{ field.validation.emailMessage || 'Invalid Email' }}
      </div>

      <!--phone validation-->
      <div class="error"
      *ngIf="field.type ==='mobile' && form.get(field.name)?.touched && form.get(field.name)?.hasError('pattern')">
      {{field.validation?.patternMessage || 'Indian number only'}}
      </div>

      <!--from date-->
      <div class="error"
      *ngIf="form.get(field.name)?.touched && form.get(field.name)?.hasError('dateNotPast')">
       {{ field.validation.dateAfterMessage || 'Date cannot be previous date' }}
      </div>

      <div class="error"
      *ngIf="form.get(field.name)?.touched && form.get(field.name)?.hasError('dateAfter')">
      {{ field.validation.dateAfterMessage || 'To Date cannot be less than From Date'}}

      </div>

    </div>

  </div>


  <button type="submit">
    Submit
  </button>

</form>
</div>
</div>
<!-- 
<div class="background">

  <div class="form-card">

    <form *ngIf="config"
          [formGroup]="form"
          (ngSubmit)="submit()">

      <h1>{{ config.title }}</h1>

      <div *ngFor="let section of config.sections">

        <h2>{{ section.title }}</h2>

        <div *ngFor="let field of section.fields">

          <label>{{ field.label }}</label>

          <input
            *ngIf="field.type != 'textarea'"
            [type]="field.type"
            [placeholder]="field.placeholder"
            [formControlName]="field.name">

          <textarea
            *ngIf="field.type == 'textarea'"
            [placeholder]="field.placeholder"
            [formControlName]="field.name">
          </textarea>

          <div *ngIf="form.get(field.name)?.touched">

            <small *ngIf="form.get(field.name)?.errors?.['required']">
              {{ field.validation.requiredMessage }}
            </small>

            <small *ngIf="form.get(field.name)?.errors?.['minlength']">
              {{ field.validation.minLengthMessage }}
            </small>

            <small *ngIf="form.get(field.name)?.errors?.['maxlength']">
              {{ field.validation.maxLengthMessage }}
            </small>

            <small *ngIf="form.get(field.name)?.errors?.['email']">
              {{ field.validation.emailMessage }}
            </small>

            <small *ngIf="form.get(field.name)?.errors?.['min']">
              {{ field.validation.minMessage }}
            </small>

            <small *ngIf="form.get(field.name)?.errors?.['max']">
              {{ field.validation.maxMessage }}
            </small>

          </div>

        </div>

      </div>

      <button type="submit">
        Submit
      </button>

    </form>

  </div>

</div> -->
